/* CSS specific for /beer */
.rounded-bottom {
  -webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.rounded-top {
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
label {
  font-weight: normal;
}
.result-list {
  border-radius: 4px;
  border: 1px solid #CCC;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.result-list h2 {
  color: #333;
}
.result-list img {
  opacity: .4;
}
.result-list span {
  display: inline-block;
  font-size: 24px;
  color: #4c708c;
}
.img-container {
  overflow: hidden;
  padding-top: 20px;
}
@media (max-width: 360px) {
  /* remove the image container */
  .img-container {
    display: none;
  }
}
