.cards {
  background: url('/img/layouts/squairy_light.png');
}
.cards .title {
  font-weight: bold;
  font-size: 110%;
}
.cards .full-name {
  color: #777;
  font-size: 24px;
  font-weight: bold;
}
.cards .time-span {
  color: #999;
  font-weight: bold;
}
.card {
  background-color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 4px;
  margin-left: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.card h2 {
  color: #777;
  border-bottom: 1px solid #999;
  margin-bottom: 0px;
}
.card ul {
  margin-left: 10px;
}
header.card {
  margin-top: 0px;
  padding-top: 10px;
}
.card.last {
  margin-bottom: 0px;
  padding-bottom: 10px;
}
